@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* variables - za da nema repetition vo css fajlot*/
:root {
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #CB6A3D;
    --secondary-color: #E98253;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* site elementi*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* listata so elementite vo nea */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

section {
    /* max-width: 1100px;
    margin: auto; */
}

/* navbarot */

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
    font-family: Century Gothic;
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
    font-family: Century Gothic;
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero-img {
    height: 480px;
    width: 30rem;
    margin-top: 30px;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
    font-family: Century Gothic;
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    font-family: Century Gothic;
}

.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    font-family: Century Gothic;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: center;
    font-family: Century Gothic;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
    font-family: Century Gothic;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fcfcfc;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.projects {
    background-color: var(--bg-color);
    padding: 10px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: auto;
}

.project-container {
    display: inline-grid;
    justify-content: center;
    align-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 2rem;
    font-family: Century Gothic;
}

.project-container p {
    padding: 0.5rem;

}

.project-title {
    margin-bottom: var(--bottom-margin);
    font-family: Century Gothic;
    color: #CB6A3D;
    text-align: center;
}

.project-details {
    margin-bottom: var(--bottom-margin);
    font-family: Century Gothic;
    color: black;
    font-weight: bold;
    text-align: center;

}

.project-card {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 1px;
    margin: 10px;
    font-style: oblique;
    text-align: center;
}

.contact {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
    color: black;
    font-family: Century Gothic;
}

.contact-form-container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.9rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.5em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
    font-family: Century Gothic;
}

.contact-form-container textarea {
    min-height: 6.5rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px inset var(--primary-color);
    font-size: 0.8rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 45%;
    padding: 5px;
    margin: 10px 0;
    background-color: #CB6A3D;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: #a17a69;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
    margin: 2rem 0 0;
    padding: 1.25rem;
    text-align: center;
    color: #fcfcfc;
    font-weight: var(--bold-font);
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

/* prilagoduvanje na pomal ekran -680px, "hamburger" meni*/
@media screen and (max-width: 680px) {

    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    /* hero delot, more about, skills, projects, contact responsive */
    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero-img {
        height: 400px;
        width: 20.5rem;
        margin-top: 100px;
    }

    .bio {
        margin-top: 3.5rem;
        margin-bottom: 2rem;
        width: 20.5rem;
    }

    .more-about {
        margin-top: 1.5rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2 {
        text-align: center;
    }

    .more-about p {
        text-align: center;
    }

    .icon {
        width: 6rem;
        height: 5.25rem;
    }

    .projects-container {
        flex-direction: column;
        width: 15rem;
    }

    .contact-form-container {
        max-width: 23.20rem;
    }
}

/* za pomali ekrani -420px responsive */
@media screen and (max-width: 420px) {
    .hero-img {
        height: 37rem;
        width: 23rem;
    }

    .bio {
        width: 18rem;
    }

    .project-container {
        width: 15rem;
    }

    .contact-form-container {
        max-width: 14.5rem;
    }
}